header {

}
.links {
  display: flex;
  margin: 1rem;
  padding: 1rem;
  flex-direction: column;
  text-decoration: none;
}
h1 {
  margin: 1rem;
  padding: 1rem;
  background-color: crimson;
}
body{
   background: tan; 
}
main {
  margin: 1rem;
  padding: 0;
  text-align: center;
}
h3 {
  display: block;
  text-align: center;
}
p {
  display: block;
  border: 3px solid crimson;
  margin: 1rem auto;
  padding: 0;
  text-align: center;
  width: 40%;
}